extends layout

block content
    h2= title
    p
        | Welcome to Snusbot's website, #1 roleplaying bot for 
        a(href='http://www.twitch.tv/forsenlol') Forsen
        | .
    p
        | Make sure to follow
        a(href='https://twitter.com/Forsensc2') Forsen on Twitter
        | !